.Metrics{
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
}
.graphcont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .graph{
        width: 100%;
        margin: 50px;
    }
}